# Fichiers Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Fichiers Grails
target/
out/
.grails/

# Intellij / VSCode / IDE
.idea/
*.iml
*.ipr
*.iws
*.swp

# OS temporaires
.DS_Store
Thumbs.db
